*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
cid.pc
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/cid.conf
depcomp
doc/dox.config
doc/latex/
doc/html/
install-sh
libtool
ltmain.sh
missing
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
src/.deps/
src/Makefile
src/Makefile.in
src/cid
stamp-h1

