
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=cid
Icon=cid.svg
Terminal=false

Comment=C.I.D.

Name=C.I.D.

GenericName=Display Covers on your desktop

Categories=System;
